# Git
.git
.github
.gitignore

# Editor
.idea
.vscode

# Generated binaries
/ewerton-go
/ewerton-go.exe

# Docker
Dockerfile
.dockerignore
Makefile

# npm / Prettier
node_modules/
package.json
package-lock.json
