name: Deploy Web to Cloud Run

on:
    push:
        branches:
            - develop
            - staging
            - main

env:
    REGION: us-central1
    IMAGE_NAME: ewerton-com-br

jobs:
    deploy:
        runs-on: ubuntu-latest

        permissions:
            contents: "read"
            id-token: "write"

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set Environment
              run: |
                  if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
                    echo "ENV=production" >> $GITHUB_ENV
                  elif [[ "${{ github.ref }}" == "refs/heads/staging" ]]; then
                    echo "ENV=staging" >> $GITHUB_ENV
                  else
                    echo "ENV=develop" >> $GITHUB_ENV
                  fi

            - name: Google Auth
              id: auth
              uses: google-github-actions/auth@v3
              with:
                  credentials_json: "${{ secrets.GCP_SA_KEY }}"

            - name: Export Project ID
              run: echo "PROJECT_ID=${{ steps.auth.outputs.project_id }}" >> $GITHUB_ENV

            - name: Set up Cloud SDK
              uses: google-github-actions/setup-gcloud@v3

            - name: Authorize Docker push
              run: gcloud auth configure-docker

            - name: Build and Push Container
              run: |
                  docker build -t gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.ENV }} .
                  docker push gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.ENV }}

            - name: Deploy to Cloud Run
              uses: google-github-actions/deploy-cloudrun@v3
              with:
                  service: ewerton-com-br-web
                  region: ${{ env.REGION }}
                  image: gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.ENV }}
